<ng-template
    #TITULO_VISTA
>
    <div class="tw:flex">
        <div class="tw:p-3">
            <csys-logo-carrduci-svg
                [height]="'150px'"
                [width]="'150px'"
            ></csys-logo-carrduci-svg>
        </div>
        <div>
            <h2>
                CARRDUCI - Cotización
            </h2>
            <div class="tw:grid tw:grid-cols-2 tw:text-lg">
                <div class="tw:text-yellow-500">FOLIO: </div>
                <div class="tw:text-yellow-500 tw:ps-3">{{ folio_vendedor()?.numeroDeFolio ?? 'N/A' }}</div>
                <div class="tw:text-yellow-500">CLIENTE: </div>
                <div class="tw:text-yellow-500 tw:ps-3">{{ folio_vendedor()?.cliente?.nombre ?? 'N/A' }}</div>
                <div>VENDEDOR: </div>
                <div class="tw:ps-3">{{ folio_vendedor()?.vendedor?.nombre ?? 'N/A' }}</div>
                <div class="tw:text-gray-400">FECHA: </div>
                <div class="tw:ps-3 tw:text-gray-400">{{ folio_vendedor()?.createdAt | date : "MMMM dd, yyyy 'a las' hh:mm aa" }}</div>
            </div>
        </div>
    </div>
</ng-template>

<pre>{{ folio_vendedor() | json }}</pre>
