<div
    #backdropLayoutPublico
    class="tw:h-[100vh] tw:w-[100vw] tw:m-0 tw:bg-[url('./assets/fondo_botones.JPG')] tw:bg-cover bg-center bg-no-repeat"
>
    <div
        #esquemaLayoutPublico
        class="tw:bottom-[-10] tw:w-[100vw] tw:h-[92vh] tw:lg:w-[90vw] tw:lg:h-[90vh] tw:overflow-y-auto! tw:rounded-xl tw:top-[50%] tw:left-[50%] tw:transform-[translate(-50%,-50%)] tw:absolute tw:box-border"
    >
        <div
            #encabezadoLayoutPublico
            class="tw:backdrop-blur-[20px] tw:bg-black/50 tw:rounded-xl tw:mb-[3vh] tw:top-0 tw:z-2 tw:border-b-1"
        >
            @if (titulo_componente) {
                @if (titulo_componente()) {
                    <ng-container
                        [ngTemplateOutlet]="titulo_componente()"
                    ></ng-container>
                } @else {
                    <h1>{{ titulo_string() }}</h1>
                }
            }
        </div>
        <div
            #cuerpoLayoutPublico
            class="tw:backdrop-blur-[20px] tw:bg-black/50 tw:rounded-xl tw:p-3 tw:overflow-y-auto! alto-cuerpo"
            style="--altoEncabezado: {{ altoEncabezadoEnPx() }}px;"
        >
            <router-outlet />
        </div>
    </div>
</div>
